*{
    font-family: sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px;
    position: fixed;
    top:0;
    right: 0;
    left: 0;
    background-color: white;
}
header img{
    width: 110px;
    height: 110px;
}
#nav-bar ul{
    display: flex;
}
#nav-bar li{
    list-style: none;
    margin: 19px 10px;
}
#nav-bar a:hover{
    color: #8A8A8A;
}
#nav-bar a{
    text-decoration: none;
    color: black;
    font-weight:600;
    font-size: 25px;
}
h1{
    margin-top: 240px;
    font-size: 40px;
    margin-left: 20px;
    margin-bottom: 1px;
}
#des{
    margin-left: 20px;
    width: 300px;
    font-size: 20px;
    font-weight:100;
    margin-bottom:200px;
}
#feather{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    display: flex;
    justify-content: space-evenly;
    width: 750px;
    flex-wrap: wrap;
}
.feather{
    padding: 16px;
    border: solid 1px;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    margin: 20px ;
}
.feather p{
    font-size: 26px;
}
.form{
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}
#email{
    width: 278px;
    padding-right: 130px;
    padding: 5px;
    border-radius: 5px;
}
#submit{
    margin-left: 16px;
    font-weight: bold;
    border: none;
    background-color: white;
    font-size: 16px;
}
#submit:hover{
    color: #8A8A8A;
}
#video{
    display: flex;
    justify-content: center;
    margin-bottom: 94px;
}
#footer{
    border-top: solid 1px;
    padding-top:56px ;
    padding-bottom:56px ;
    display: flex;
    justify-content: space-evenly;
}
#footer p{
    font-weight: 600;
}